alphashape==1.0.2
appdirs==1.4.3
attrs==19.1.0
basemap==1.2.0
binary==1.0.0
bitstruct==6.0.0
bleach==3.1.0
cachetools==3.1.0
cantools==32.6.1
certifi==2020.4.5.1
cftime==1.0.3.4
Click==7.0
click-log==0.3.2
cmocean==2.0
cycler==0.10.0
cytoolz==0.9.0.1
dask==2.14.0
decorator==4.4.0
descartes==1.1.0
diskcache==3.1.1
docutils==0.14
future==0.17.1
geographiclib==1.49
geopy==1.19.0
gitdb2==2.0.6
GitPython==3.0.5
google-api-core==1.8.2
google-auth==1.6.3
google-cloud-bigquery==1.10.0
google-cloud-core==0.29.1
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
gsw==3.2.1
h5py==2.9.0
-e git+https://github.com/garrettdreyfus/MixedLayerDepthPy.git@baab854ef955664437f04fdc7de100dcc894bbda#egg=holteandtalley
ipython-genutils==0.2.0
iso8601==0.1.12
joblib==0.14.0
jsonschema==3.0.1
julian==0.14
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
nbformat==4.4.0
netCDF4==1.4.2
numexpr==2.7.1
numpy==1.15.4
pandas==1.0.1
pkginfo==1.5.0.1
plotly==3.9.0
prettytable==0.7.2
progress==1.5
progressbar2==3.47.0
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycosat==0.6.3
pygam==0.8.0
-e git+git@github.com:garrettdreyfus/py-gamma-n.git@55dc43cf042812b818f272d5c42c6e3f7d2b219d#egg=pygamma_n
Pygments==2.3.1
pyparsing==2.3.1
pypinfo==15.0.0
pyproj==1.9.6
pyrsistent==0.15.2
pyshp==2.1.0
python-can==3.0.0
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.9
PyYAML==3.13
readme-renderer==24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.0
ruamel.yaml==0.15.78
scikit-learn==0.21.3
scipy==1.2.1
seawater==3.3.4
serial==0.0.97
Shapely==1.7.0
six==1.13.0
sklearn==0.0
smmap2==2.0.5
tables==3.6.1
textparser==0.17.0
tinydb==3.13.0
tinyrecord==0.1.5
toolz==0.9.0
tornado==6.0.3
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
typing==3.6.6
vanity==2.2.2
webencodings==0.5.1
wrapt==1.11.1
xarray==0.15.0
xmitgcm==0.4.1
